@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

input[type=text], input[type=email], input[type=number], select {
    width: 100%;
    padding: 10px 20px;
    margin: 4px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.submit-btn {
    width: 100%;
    background-color: #0f117a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
  
.submit-btn:hover {
    opacity: 0.7;
}
 
label {
    font-family: 'Open Sans', sans-serif;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
}

.form-container {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    /* background-color:#324e7b; */
    padding: 20px 40px;
}

.form-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}


@media (min-width:468px) {
    
    .form-container {
        width: 40%;
        margin: 0 auto;
    }

}