@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Akkurat Pro", Arial, sans-serif
}

h1, h2, h3, h4, h5 {
    font-family: Metropolis, Arial, sans-serif;
}

.inner-container {
    color: #5068a9;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inner-container h1 {
    font-size: 40px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #0f117a;
    border: none;
    padding: 16px 30px;
    color: #fff;
    width: 90%;
    margin-top: 20px;
    border-radius: 4px;
    font-family: "Akkurat Pro", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.05rem;
    word-spacing: normal;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.content {
    margin-top: 30px;
    margin-left: 20px;
}

.heading {
    font-size: 28px;
    line-height: 1.2;
    width: 85%;
    color: #86a6df;
}

.content p {
    margin-top: 20px;
    width: 80%;
    line-height: 1.8;
    font-family: 'Mulish', sans-serif;
}

.divider {
    width: 15%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0f117a;
}

.responsive-img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

.responsive-img-hiw {
    max-width: 75%;
    height: auto;
}

.content-hiw {
    margin-bottom: 40px;
}

.content-hiw-header {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    background-color:  #0f117a;
    color: #fff;
    padding: 30px 20px;
}

.content-hiw p {
    width: 70%;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    line-height: 1.8;
}



@media (min-width:468px) {

    .outer-container {
        display: flex;
        align-items: center;
    }

    .inner-container {
        margin-left: 80px;
    }

    .inner-container h1 {
        font-size: 65px;
    }

    .btn-container {
        display: block;
        margin-top: 40px;
    }

    .content {
        margin-left: 80px;
        margin-bottom: 60px;
        width: 50%;
    }

    .content-hiw {
        display: flex;
        align-items: center;
    }

    .content-hiw-header {
        font-size: 50px;
    }

    .content-hiw p {
        width: 50%;
        font-size: 30px;
    }

    .responsive-img-hiw {
        max-width: 40%;
        height: auto;
    }
    

}
